@model CP.NLayer.Models.Business.CheckListItem
<span title="@Model.Description">
    @Html.CheckBoxFor(model => model.Checked)
    @Html.LabelFor(model => model.Checked, Model.Text)
    @Html.HiddenFor(model => model.Text)
    @Html.HiddenFor(model => model.Description)
</span>