@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("_BECss")
    @Html.Partial("_BEScripts")
    <link href="@Url.Content("~/Scripts/Qaptcha-v2.6/QapTcha.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Qaptcha-v2.6/jquery.ui.touch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Qaptcha-v2.6/QapTcha.jquery.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#QapTcha').QapTcha({
                PHPfile: '@Url.Action("ValidateCaptcha", "Common", new { area = "" })',
                txtLock: "@Html.Raw(UiResources.Info_CaptchaTipsBeforeValidation)",
                txtUnlock: "@UiResources.Info_CaptchaTipsAfterValidation"
            });
        })
    </script>
</head>
<body>
    <div class="container">
        @Html.Action("Index", "Language", new { area = "" })
        <div id="Login">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>@UiResources.Login</legend>
                    <div class="prepend-1 span-6">
                        <h1>Welcome!</h1>
                    </div>
                    <div class="span-14 colborder-left last">
                        <div class="append-bottom">
                            @Html.ValidationSummary(true)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.UserName)
                            (User1)
                        </div>
                        <div class="append-bottom">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "text" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Password)
                            (a)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "text" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div id="QapTcha"></div>
                        <div>
                            <input type="submit" class="button" value="@UiResources.Login" />
                            @Html.CheckBoxFor(m => m.RememberMe, new { style = "margin-left:2em;" })
                            <label for="RememberMe">@UiResources.RememberMe</label>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</body>
</html>